@import "variables.scss";

.navPrice{
    height: 80px;
    background-color: $deepPurple;
}
.navPrice__right{
    padding: 0px;
}
.navPrice__logo{
    height: 55px;
}
.navPrice__arrow{
    height: 50px;
}
.navPrice__left{
    padding: 0px;
}