


// #sam_main-container{
//     background-color:blue;
//     height:300px;
//     width:100%;
// }

.databox{
    border:2px solid;
    margin:1%;
}



#zomato_img-display {
    height:200px;
    width:100%;
    // border:black 1px solid;
}