


// #sam_main-container{
//     background-color:blue;
//     height:300px;
//     width:100%;
// }

.databox{
    border:2px solid;
    margin:1%;
}



#zomato_img-display {
    height:200px;
    width:100%;
    // border:black 1px solid;
}

.ratingBody__Btn{
    height: 90px;
    background-color: $midPurple;
    width: 100%;
    border: none;
    border-radius: 35px;
    margin-top: 0px;
    padding-top: 0px;
    font-family: Source sans pro;
    color: $white;
    font-size: 3em;
    font-weight: 700;
    letter-spacing: 3px;
    
}